{% extends "tutorien/base.html" %}

{% block content %}
<div id="content" class="container_12">

	<div class="grid_12" id="all-users-div">
	<table id="suggestions-table" width="100%" border="0" cellspacing="0" cellpadding="0">
		<thead class="tr-title">
			<td>RZ-Kennung</td>
			<td>Fakultät</td>
			<td>Tutorium</td>
			<td>Bewerbungstext</td>
		</thead>
	{% for s in suggestions %}
		<tr class="user table-item">
			<td>{{ s.tutor }}</td>
			<td>{{ s.faculty }}</td>
			<td>{{ s.tutname }}</td>
			<td>{{ s.text }}</td>
			</td>
		</tr>
	{% endfor %}
	</table>
	</div>
</div>
{% endblock content %}