{% extends "tutorien/base.html" %}

{% block extrahead %}
<div id="teaser"><div id="teaser-div" class="container_12"><span>SVG Tutorien</span></div></div>
{% endblock extrahead %}

{% block content %}
<div id="content" class="container_12">
	<div class="grid_4">
		<h2 class="home-headline">Ein Tutorium besuchen</h2>
		<p class="home-paragraph">Falls du ein Tutorium besuchen möchtest, ist dies hier die Richtige Anlaufstelle. Ob Photoshop oder InDesign, hier bekommst du erste Hilfe. Um dich bei den Tutorien anmelden zu können, log dich zuerst mit deinen RZ-Daten ein. Danach kannst du aus der Liste ein Tutorium auswählen und dich anmelden. Es gibt keine Begrenzeungen bei der Anmeldung, so dass du dich bei beliebig vielen Tutorien anmelden kannst. Solltest du jedoch nicht erscheinen können, dann musst du dich wieder abmelden.</p>
		<a href="/Tutorien">Hier geht's zu den Tutorien &raquo;</a>
	</div>
	<div class="grid_4">
		<h2 class="home-headline">Tutor werden</h2>
		<p class="home-paragraph">Bist du auf den Geschmack gekommen oder möchtest du den Studenten etwas zurückgeben oder hattest du einfach schon mal immer lust, anderen etwas beizubringen. Dann werde Tutor und teile dein Wissen mit den anderen und verdiene dir nebenbei noch etwas dazu.</p>
		<a href="/Bewerben">Hier kannst du dich als Tutor bewerben &raquo;</a>
	</div>
	<div class="grid_4">
		<h2 class="home-headline">Ein Tutorium vorschlagen</h2>
		<p class="home-paragraph">Fehlt ein Tutorium? Möchstest du einen Fortgeschrittenen-Kurs zu einem bereits gehaltenen Tutorium? Kein Problem! Schriebe uns einfach und schlage ein Tutorium vor. Wir versuchen dann, soweit es geht, ein Tutorium zu disesem Thema zu organisieren.</p>
		<a href="">Hier kannst du ein Tutorium vorschlagen &raquo;</a>
	</div>
</div>
{% endblock content %}